
@{
    ViewBag.Title = "View";
}

<div data-detail="User" data-method="insert">
    <p>
        <input data-field="User.ID" type="text" />
        <input data-field="User.Username" type="text" />
        <input data-field="User.Password" type="text" />
        <a href="javascript:InsertPort('User')">Save</a>
    </p>
</div>