
@{
    ViewBag.Title = "View";
}

<div data-collection="Users" data-identifier="ID">
    <p class="template users"><span data-field="ID"></span><span data-field="Username"></span><span data-field="Password"></span></p>
</div>

<script>
    LoadFromCollectionPort("Users", null);
</script>